<form (ngSubmit)="addItem(); bookForm.resetForm()" #bookForm='ngForm'>
    <mat-form-field>
        <input matInput name="name" [(ngModel)]="newBook.name" #nameBook="ngModel" placeholder="Название книги" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="genre" [(ngModel)]="newBook.genre" #genreBook="ngModel" placeholder="Жанр">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="image" [(ngModel)]="newBook.image" #imageBook="ngModel" placeholder="Изображение ">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="description" [(ngModel)]="newBook.description" #descriptionBook="ngModel" placeholder="Описание">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="nameBook.invalid || descriptionBook.invalid || genreBook.invalid || imageBook.invalid">Добавить</button>
</form>