<mat-expansion-panel>
  <mat-expansion-panel-header>

    <mat-panel-title>
      <img src="{{book.image}}" alt="Photo of a Shiba Inu"> {{book.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{book.genre}}

    </mat-panel-description>
    <mat-button-toggle (click)="openDialog()" color="primary">
        <mat-icon>edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="deleteBook()" color="primary">
        <mat-icon>delete</mat-icon>
    </mat-button-toggle>
  </mat-expansion-panel-header>
  <p>Описание: {{book.description}}</p>
  <mat-list>
    <h3 mat-subheader>Ссылки:</h3>
    <mat-list-item *ngFor="let link of book.links">
     <a href="{{link}}">{{link}}</a>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>